.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 100vh;
}

.page h2 {
  font-weight: 300;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  gap: 1rem;
}

.divider {
  display: flex;
}

.dividerMobile {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 600px;
}

.login,
.loginHelp {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.loginHelp {
  flex-direction: column;
  align-items: center;
}

.textError {
  color: red;
  font-size: small;
}

.switchContainer {
  position: fixed;
  top: 0;
  height: 4rem;
  right: 1rem;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .divider {
    display: none;
  }

  .dividerMobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
  }

  .login {
    align-items: center;
    flex-direction: column;
  }
}