.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  gap: 1rem;
}

.divider {
  display: flex;
}

.dividerMobile {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 600px;
}

.login,
.loginHelp {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.loginHelp {
  flex-direction: column;
  align-items: center;
}

.textError {
  color: red;
  font-size: small;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .divider {
    display: none;
  }

  .dividerMobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
  }

  .login {
    align-items: center;
    flex-direction: column;
  }
}